@media (max-width: 760px) {

    .header_container {
        padding: 0 20px;
    }

    .right_menu a:nth-child(1), .right_menu a:nth-child(2), .right_menu a:nth-child(3){
        display: none;
    }

    .basket{
        margin-right: 10px;
    }
.right_menu, .left_menu{
    width: max-content;
}    

header input[type="text"]{
    background-repeat: no-repeat;
    padding: 0 10px 0 36px;
    box-sizing: border-box;
    width: 170px;
    font-size: 17px;
}

footer{
    display: flex;
    flex-flow: row wrap;
}

.footer_content{
    padding: 0 20px;
    height: 320px;
    flex-flow: row wrap;
    font-size: 14px;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
}

.footer_content .container{
    width: max-content;
    height: max-content;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.footerBottom{
    display: flex;
    padding: 0 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 80px;

}

.goTop{
    order: 1;
}
.rightReserved{
    order: 2;
}

.table div {
    font-size: 14px;
}

h2, .lightboxh2{
    font-size: 1em;
}

.mainRules {
    padding: 20px 20px;

}

.quantity {
    gap: 6px;
}

.table .price::after,
.table .summa::after{
	content: '';
}

.productsContent{
    grid-template-columns: 1fr;
}
.catalog{
    display: none;
}

.lightboxP{
    font-size: 14px;
}

.lightbox{
    overflow-y: scroll;
}
.lightbox::-webkit-scrollbar{
    width: 0;
}

}
