@font-face {
    font-family: 'Caviardreams';
    src: url(../Fonts/caviardreams-webfont.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caviardreams_Bold';
    src: url(../Fonts/caviar_dreams_bold-webfont.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    text-decoration: none;

}
       
html * {
    max-height: 1000000px;
}
   
html {
    height: 100%;
}

body {
    font: normal 400 16px / 26px 'Caviardreams', 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: rgb(248, 242, 234);
    box-shadow: 5px 10px 20px #b5af86;

}

.header_container{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 6px auto 6px;
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.left_menu{
    display: flex;
    justify-content: space-between;
    width: 480px;
    height: 44px;
}

header .logo{
    width: 93px;
    background-image: url(../Img/logo.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.dropdownMenu{
    position: fixed;
    top: 150px;
    flex-direction: column;
    height: 340px;
    display: flex;
    justify-content: space-evenly

    
}

.dropdownMenu h2{
    margin-bottom: 30px;
}

.dropdownMenu a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-bottom: 15px;
}
    
header input[type="text"]{
    border: none;
    background-image: url(../Img/Union.png);
    background-position: center left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 36px;
    box-sizing: border-box;
    width: 270px;
    font-size: 17px;

    
}
header input[type="text"]:focus, input[type="text"]:active, input[type="text"]:hover{
    outline: 0;
    outline-offset: 0;
}
header input[type='text']::placeholder{
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    opacity: 0.2;
}

.right_menu{
    width: 290px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_menu a{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}

.basket{
    background-image: url(../Img/basket.png);
}
.person{
    background-image: url(../Img/person.png);
    margin-left: -20px;
    box-sizing: border-box;
}

.basket, .person{
    background-repeat: no-repeat;
    width:24px;
    height:24px;
}

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
    display: flex;
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 400px;
    height: 520px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup-close {
    flex: none;
    right: 20px;
	position: absolute;

}

/*

.right_top_buy_one, .right_top_buy_two{
    position: relative;
}

.dot{
    position: absolute;
    top: 90px;
    left: 40px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 5px white;
}

.dot:hover{
    cursor: pointer;
}

.right_top_buy_two .dot{
    top: 220px;
    left: 40px;
}


main{
    width: 1140px;
    height: 850px;
    margin: 50px auto;
    padding: 40px 0;

}

.main_content{
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    gap: 20px;
    grid-template-areas: 
    "n lto lto rto rtt"
    "n ltt ltt rto rtt";
    
}

.left_top_sale_one, .left_top_sale_two{
    height: 255px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #b5af86;
    padding: 10px;
    box-sizing: border-box;
}
.right_top_buy_one, .right_top_buy_two{
    height: 530px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #b5af86;
}


.left_top_sale_one, .left_top_sale_two{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.left_top_sale_one{
    grid-area: lto;
    background-image: url(../Img/saledress.png);
    background-size:cover;
}

.left_top_sale_one a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.heard_btn{
    display: inline-block;
    background-image: url(../Img/heard.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 3px solid #E9E9F2;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

 input[type='checkbox']{
    display: none;
 }
 
 #heard:checked ~ .heard_btn, #heard2:checked ~ .heard_btn {
    background-image: url(../Img/heardred.png);
    animation-name: heard;
    animation-duration: 2s;

 }

 #heard:hover ~ .heard_btn, #heard2:hover ~ .heard_btn {
     cursor: pointer;
 }     

 #heard:active ~ .heard_btn, #heard2:active ~ .heard_btn {
    background-image: none;
 }
 
.left_top_sale_two{
    grid-area: ltt;
    background-image: url(../Img/bottom.png);
    background-size: 100%;

}

.left_top_sale_two a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    align-self: flex-start;
}
.right_top_buy_one{
    grid-area: rto;
    background-image: url(../Img/aest.jpg);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.right_top_buy_two{
    grid-area: rtt;
    background-image: url(../Img/sveter.jpg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}


.ft{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    background-color: bisque;
}

*/