@font-face {
    font-family: 'Caviardreams';
    src: url(../Fonts/caviardreams-webfont.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caviardreams_Bold';
    src: url(../Fonts/caviar_dreams_bold-webfont.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    text-decoration: none;

}
       
html * {
    max-height: 1000000px;
}
   
html,  body {
    height: 100%;
    min-width: 315px;
}

body {
    font: normal 400 16px / 26px 'Caviardreams', 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    color: black;
}

header{
    width: 100%;
    background-color: rgb(248, 242, 234);
    box-shadow: 5px 10px 20px #b5af86;
    
}

.header_container{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 6px auto 6px;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}

.left_menu{
    display: flex;
    justify-content: space-between;
    width: 480px;
    height: 44px;
}

header .logo{
    width: 93px;
    background-image: url(../Img/logo.png);
    background-repeat: no-repeat;
    background-position: center left;
}

header input[type="text"]{
    border: none;
    background-image: url(../Img/Union.png);
    background-position: center left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 36px;
    box-sizing: border-box;
    width: 270px;
    font-size: 17px;

    
}
header input[type="text"]:focus, input[type="text"]:active, input[type="text"]:hover{
    outline: 0;
    outline-offset: 0;
}
header input[type='text']::placeholder{
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    opacity: 0.2;
}

.right_menu{
    width: 290px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_menu a{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}

.basket{
    background-image: url(../Img/basket.png);
}

.basketClick{
    background-image: url(../Img/basketclick.png);
}
.person{
    background-image: url(../Img/person.png);
    box-sizing: border-box;
    cursor: pointer;
}

.basket, .person{
    background-repeat: no-repeat;
    width:24px;
    height:24px;
}

.right_one, .right_two{
    position: relative;
}

.dot{
    position: absolute;
    top: 90px;
    left: 40px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 5px white;
    animation: pulse 3s infinite;
}

.dot:hover{
    cursor: pointer;
    animation: none;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 10px rgba(222, 215, 187, 0.4);
    }

    40% {
        box-shadow: 0 0 0 20px rgba(207, 204, 192, 0);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(210, 207, 196, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

.right_two .dot{
    top: 220px;
    left: 40px;
}


main{
    width: 100%;
    margin: 50px auto;
    flex: 1 0 auto;

}

.mainRules{
    padding: 20px 100px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.main_content{
    grid-template-columns: minmax(200px, 250px) minmax(350px, 450px) minmax(170px, 200px) minmax(170px, 200px);
    grid-template-rows: minmax(220px, 280px) minmax(220px, 280px);
    justify-content: space-between;
    grid-template-areas: 
    "n lto rto rtt"
    "n ltt rto rtt";
    
}

.dropdownMenu{
    grid-area: n;
    flex-direction: column;
    height: 320px;
    display: flex;
    justify-content: space-between;

}

.dropdownMenu h2{
    margin-bottom: 30px;
}

.dropdownMenu a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-bottom: 15px;
}

.hiddenDrop{
    display: none;
}
.left_one{
    grid-area: lto;
    background-image: url(../Img/saledress.png);
    background-size: cover;
}

.left_two{
    grid-area: ltt;
    background-image: url(../Img/dance.png);
    background-size: cover;
}
.left_one, .left_two{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;

}

#textForForm, #textForForm2{
    font-size: 18px;
    color: #fff;
    font-weight: 700;

}

#textForForm:hover, #textForForm2:hover{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.right_one{
    grid-area: rto;
    background-image: url(../Img/aest.jpg);
}
.right_two{
    grid-area: rtt;
    background-image: url(../Img/sveter.jpg);
}
.right_one, .right_two{
    border-radius: 5px;
    background-size: cover;
}

.heard_btn{
    display: inline-block;
    background-image: url(../Img/heard.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 3px solid #E9E9F2;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

 input[type='checkbox']{
    display: none;
 }
 
 #heard:checked ~ .heard_btn, #heard2:checked ~ .heard_btn {
    background-image: url(../Img/heardred.png);
    animation-name: heard;
    animation-duration: 2s;

 }

 #heard:hover ~ .heard_btn, #heard2:hover ~ .heard_btn {
     cursor: pointer;
 }     

 #heard:active ~ .heard_btn, #heard2:active ~ .heard_btn {
    background-image: none;
 }

 .store_content{
    grid-template-columns: minmax(530px, 600px) 1fr;
    grid-template-rows: max-content max-content max-content;
    /*justify-items: end;*/
    grid-template-areas: 
    "sh mp"
    "dd dd"
    "rt rt";
    gap: 20px;
    
}

.mainShop, .secondShop{
    display: flex;
}

.aboutStore{
    padding: 0 15px;
    box-sizing: border-box;
    text-align: justify;
}

.shops{
    grid-area: sh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

.slider{
    min-width: 300px;
    position: relative;
    height: 230px;
}
.slider .item img, .slider .item2 img {
    object-fit: cover;
    width: 100%;
    height: 230px;
}
.slider .previous, .slider .next, .slider .previous2, .slider .next2{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next, .slider .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous:hover,
.slider .next:hover, 
.slider .previous2:hover,
.slider .next2:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider .item, .slider .item2 {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.mapShops{
    grid-area: mp;
    overflow: hidden;;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.delivery{
    grid-area: dd;
}

.returns{
    grid-area: rt;
}


footer{
    width: 100%;
    background-color: rgb(248, 242, 234);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.footer_content{
    font-weight: 700;
    display: flex;
    padding: 0 100px;
    flex-flow: row nowrap;
    height: 220px;
    justify-content: center;
    align-items: center;
}

.footer_content .container{
    width: 250px;
    height: 190px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.container h3{
    margin-bottom: 10px;
}

.call::before{
    content: 'Call:';
    margin-right: 3px;
}
.email::before{
    content: 'Email:';
    margin-right: 3px;
}

h3 ~ a, h3 ~ p{
    opacity: 0.7;
    line-height: 2em;
}

.media{
    width: 130px;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 10px;
    opacity: 0.7;
}

.media a{
    width: 35px;
    height: 35px;
}

.fb, .inst, .youtube{
    background-size: contain;
    background-repeat: no-repeat;
}

.fb{
    background-image: url(../Img/facebook.png);
}

.inst{
    background-image: url(../Img/instagramm.png);
}
.youtube{
    background-image: url(../Img/youtube.png);
}


.footerBottom{
    padding: 0 100px;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.rightReserved, .goTop{
    width: max-content;
}

.rightReserved{
    font-size: 14px;
}
.goTop{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.6;
}

.fst::before{
    content: '\00A9';
    margin-right: 3px;
}

.scd::before{
    content: '\2661';
    padding: 0 5px;
}

footer section:last-of-type{
    border-top: 1px solid rgb(182, 173, 173);
    width: 100%;
}

.catalogItems{
    border-radius: 5px;
    background-color: rgb(248, 242, 234);
    padding: 0 10px;
}
.accordeon > ul{

    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-around
}

.productsContent{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
}

h5 ~ div{
    display: inline-flex;
    width: 200px;
    height: 250px;
    background-image: url(../Img/sveter.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sub li{
    margin: 15px 0;
    font-size: 20px;
}

.sub:hover, .sub li:hover, .accordeon ul li:nth-child(4):hover{
    
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;

}
h5{
    border-bottom: 1px solid grey;
    width: 100%;
    margin: 15px 0;
    text-align: right;
}

.productsContent h2{
    line-height: 3em;
}

.sub > a, .acces{
    font-size: 24px;
    line-height: 2em;
}

a ~ ul{
    display: none;
}

.openacc{
    display: block;
}

.textDelivery, .textReturns{
    display: none;
}

.activeTitle{
    display: block;
}

.aboutDelivery, .aboutReturns{
    cursor: pointer;
    border-top: 1px solid lightgrey;

}


.itemsBasket div{
    height: 100px;
    background-color: antiquewhite;
}

.itemsBasket{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: max-content;
    
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

.lightbox,
.calendarbox,
.alertbox {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 16px;
    border-radius: 16px;
    background: white;
    opacity: 0;
}
.alertbox {
    width: 360px;
    height: 60px;
    margin: -46px auto auto -196px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
.calendarbox {
    width: 398px;
    margin: -215px auto auto -215px;
}

.lightbox{
    padding: 16px 25px;
    text-align: justify;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.alertbox button{
    position: absolute;
    top: 5px;
    right: 10px;
    color: black;
    cursor: pointer;

}

.lightbox button{
    width: 60px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 5%;
    cursor: pointer;
}

.lightbox button:active{
    background-color: black;
    color: #fff;
}

.calendarbox span {
    flex: none;
    height: 48px;
    width: 48px;
    display: block;
    line-height: 48px;
    text-align: center;
    border: 1px solid gray;
    color: gray;
}
.calendarbox strong {
    flex: auto;
    line-height: 48px;
    text-align: center;
    color: gray;
}
.calendarbox .dp_header {
    display: flex;
    height: 48px;
    width: 398px;
    gap: 8px;
    margin-bottom: 8px;
}
.calendarbox .dp_grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 50px);
}
.calendarbox .holiday {
    color: red;
    border-color: red;
}
.calendarbox .headday {
    border-color: transparent;
    font-weight: bold;
}
.calendarbox .empty {
    border-color: transparent;
}

.table div {
    font-size: 24px;
    line-height: 48px;
}
.tr {
    display: grid;
    grid-template-columns: 5% 30% 20% 20% 20% 5%;
}
.tr.top {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.tr.bottom {
    font-weight: bold;
    border-top: 1px solid black;
}
.table .price {
    font-weight: normal;
    color: black;
}
.table .top .price {
    font-weight: bold;
}
.table .price::after,
.table .summa::after,
.table .itog::after {
	content: '\20AC';
}
.bottom .text {
    grid-column-start: 3;
    grid-column-end: 4;
}
.bottom .itog {
    grid-column-start: 5;
    grid-column-end: 6;
}
.table button {
    font-size: 24px;
    line-height: 48px;
    width: 48px;
    cursor: pointer;
    flex: none;
}
.table button:active {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}
.quantity {
    display: flex;
    justify-content: center;
    padding-right: 48px;
    gap: 16px;
}
.quantity span {
    flex: auto;
    text-align: center;
}
.currency {
    margin-top: 16px;
}
fieldset {
    margin: 16px 0;
    border: 2px solid rgb(118, 110, 99);
    padding: 16px;
}
legend {
    font-weight: bold;
}
.inputforma {
    display: block;
    border: 1px solid gray;
    padding: 16px;
    color: gray;
    height: 30px;
    width: 250px;
    margin-top: 16px;
}
textarea {
    display: block;
    margin-top: 16px;
    border: 1px solid gray;
    padding: 16px;
    color: gray;
    height: 60px;
    width: 250px;
}
legend + input {
    margin: 0;
}
.sendform {
    display: block;
    width: 200px;
    padding: 16px;
    background-color: rgb(248, 242, 234);
    cursor: pointer;
    border: 1px solid;
}

.dp_header span:hover, .getter:hover{
    background-color: rgb(248, 242, 234);
    cursor: pointer;
    }
.dp_header span:active, .getter:active{
    background-color: rgb(233, 170, 98);
}

.lightboxh2{
    margin-bottom: 10px;
}

.buttonlight{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.totop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    color: black;
    padding: 8px;
    background: pink;
    position: fixed;
    bottom: 10px;
    right: 16px;
    border-radius: 30%;
    opacity: 0.6;
    cursor: pointer;
    font-weight: 700;
}

.totop:hover {
    color: red;
}

.hiddentop{
    display: none;
}